.page-wrapper {
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    margin-top: var(--navbar-height);
    padding: 0 4rem;

    @media (max-width: 1080px) {
        padding: 0 var(--view-side-padding);
    }
}