.button-wrapper {
    --button-primary: var(--primary, #6200EE);
    --button-primary-rgb: var(--primary-rgb, 98, 0, 238);
    --button-background: var(--background-2, #ddd);
    --button-color: var(--color, #000);
    --button-font-size: var(--font-size, 14px);
    --button-border-radius: var(--border-radius, 5px);
    --button-font-family: var(--font-family, sans-serif);

    flex-shrink: 0;
    padding: .25rem .35rem;
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    color: var(--button-color);
    font-size: var(--button-font-size);
    font-family: var(--button-font-family);

    /* &.default {} */

    &.primary {
        --button-background: var(--button-primary);
        --button-color: #fff;
    }

    &.ghost {
        background: transparent;
    }

    &.active,
    &:not(.disabled):active {
        box-shadow: 1px 2px 4px -1px rgba(var(--button-primary-rgb), .5);
    }

    &.disabled {
        cursor: not-allowed;
        filter: brightness(80%);
    }

    &:not(.disabled):hover {
        cursor: pointer;
        filter: brightness(110%);
    }
}