.button-wrapper {
    --button-primary: var(--primary, #6200EE);
    --button-background: var(--lighter-gray, transparent);
    --button-color: var(--color, #000);
    --button-border-color: var(--light-gray, #ddd);

    --button-font-size: var(--font-size, 14px);
    --button-border-radius: var(--border-radius, 5px);

    --button-font-family: var(--font-family, sans-serif);

    padding: .2rem .3rem;
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    font-size: var(--button-font-size);
    font-family: var(--button-font-family);

    &.default {
        --button-border-color: var(--light-gray, #ddd);
    }

    &.primary {
        --button-background: var(--button-primary);
        --button-color: #fff;
        --button-border-color: transparent;
    }

    &.ghost {
        --button-border-color: transparent;
    }

    &.active,
    &:active {
        box-shadow: 2px 2px 4px -1px var(--button-primary);
    }

    &.disabled {
        cursor: not-allowed;
        filter: brightness(80%);
    }

    &:not(.disabled):hover {
        cursor: pointer;
        filter: brightness(110%);
    }
}