.theme-wrapper {
    user-select: none;
    padding: .4rem;
    border-radius: 50%;
    border: 1px solid transparent;
    color: var(--color);

    &:hover {
        cursor: pointer;
        border: 1px solid var(--accent);

        .icon {
            color: var(--accent);
        }
    }
}