.theme-switch {
    --theme-switch-primary: var(--primary, #6200EE);
    --theme-switch-primary-rgb: var(--primary-rgb, 98, 0, 238);
    --theme-switch-color: var(--color, #000);

    cursor: pointer;
    user-select: none;
    padding: .3rem;
    border-radius: 50%;
    color: var(--theme-switch-color);
    border: 2px solid rgba(var(--theme-switch-primary-rgb), .4);

    &:hover {
        color: var(--theme-switch-primary);
        border-style: double;
    }
}