.page-wrapper {
    --full-height: calc(100svh - var(--header-height));

    height: var(--full-height);
    padding: 2rem 20%;

    @media (max-width: 650px) {
        padding: .5rem 1rem;
    }
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 1px 2px 3px -1px var(--background-2);

    &::before {
        content: attr(data-label);
        border-bottom: 2px dashed var(--primary);
    }

    .item-content {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
}