.heading-wrapper {
    --heading-size: 2.125rem;
    --heading-font-family: var(--font-family, sans-serif);
    --heading-color: var(--color, #000);

    color: var(--heading-color);
    font-size: var(--heading-size);
    font-family: var(--heading-font-family);
    font-weight: bold;

    &.h1 {
        --heading-size: 2.125rem;
    }

    &.h2 {
        --heading-size: 1.875rem;
    }

    &.h3 {
        --heading-size: 1.5rem;
    }

    &.h4 {
        --heading-size: 1.25rem;
    }

    &.h5 {
        --heading-size: 1.125rem;
    }

    &.h6 {
        --heading-size: 1rem;
    }
}