.anchor-wrapper {
    .anchor-item {
        text-decoration: none;
        padding-block: 4px;
        padding-inline: 16px 0;
        font-size: 14px;
        color: var(--color);

        &.active,
        &:hover {
            color: var(--accent);
        }
    }
}