.header-wrapper {
    --header-border-radius: var(--border-radius, 5px);

    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height, 5rem);
    padding: .5rem var(--view-side-padding);
    background: var(--background, rgba(0, 0, 0, 0.15));

    .header-contents {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        .header-paths {
            display: flex;
            gap: .5rem;

            .active-link {
                border-radius: var(--header-border-radius);
                box-shadow: 2px 2px 4px -1px var(--primary, #6200EE);
            }
        }
    }
}