.header-wrapper {
    --header-side-padding: var(--view-side-padding, 2rem);
    --header-border-radius: var(--border-radius, 5px);
    --header-primary: var(--primary, #6200EE);
    --header-background: var(--background-2, #ddd);

    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height, 5rem);
    padding: .5rem var(--header-side-padding);
    background: var(--header-background);

    .header-contents {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        .header-paths {
            display: flex;
            gap: .5rem;

            .active-link {
                border-radius: var(--header-border-radius);
                box-shadow: 1px 2px 3px -1px var(--header-primary);
            }
        }
    }
}