.navigation-bar {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    padding: .5rem 0;
    background: var(--background-color);

    .logo {
        margin: 0 1rem;
        height: 48px;
    }

    .navigation-options {
        margin-right: 2rem;
    }
}