.section-wrapper {
    --full-height: calc(100vh - var(--header-height));

    scroll-margin-top: 48px;

    &.full-size {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: var(--full-height);
    
        .section-child {
            height: 100%;
        }
    }

    .section-title {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-contents {
        display: grid;
        min-height: var(--full-height);
        width: 100%;

        &.default {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
        
        &.medium {
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        }

        &.large {
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    
            @media (max-width: 480px) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        }

        &:has(> .section-child:nth-child(n + 2)) {
            .section-child:first-child {
                align-items: flex-end;
            }
        }
        
        &:has(> .section-child:nth-child(n + 3)) {
            min-height: 8rem;
            padding: 3rem 0;
        
            .section-child:first-child {
                align-items: center;
            }
        }
        
        .section-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: 2rem;

            &.shadow {
                background: rgba(0, 0, 0, 0.2);
            }

            @media (max-width: 1080px) {
                padding: 1rem;
            }
        }
    }
}