.child-title {
    width: 100%;
    margin-bottom: .6rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.child-paragraph {
    --child-paragraph-color: var(--color, #000);

    color: var(--child-paragraph-color);
}