@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --white: #fff;
    --white-2: #eee;
    --light-gray: #ccc;
    --lighter-gray: #ddd;
    --dark-gray: #181818;
    --darker-gray: #141414;
    --black: #000;
    --latvian-red: #A4343A;
    --latvian-red-rgb: 164, 52, 58;
    --prime-purple: #6200ee;
    --prime-purple-rgb: 98, 0, 238;
    --green: #12aa45;
    --green-rgb: 18, 170, 69;
    --light-blue: #54a0df;
    --light-blue-rgb: 84, 160, 223;
    --candy-red: #c71944;
    --candy-red-rgb: 199, 25, 68;

    --font-family: 'Montserrat', sans-serif;
    --font-size: 14px;
    --header-height: 3rem;
    --footer-height: 0rem;
    --view-side-padding: 2rem;
    --border-radius: 5px;

    --primary-light: var(--prime-purple);
    --primary-rgb-light: var(--prime-purple-rgb);
    /* --primary-light: var(--green);
    --primary-rgb-light: var(--green-rgb); */
    /* --primary-light: var(--light-blue);
    --primary-rgb-light: var(--light-blue-rgb); */
    /* --primary-light: var(--candy-red);
    --primary-rgb-light: var(--candy-red-rgb); */
    --background-light: var(--white-2);
    --background-2-light: var(--lighter-gray);
    --color-light: var(--black);

    --primary-dark: var(--latvian-red);
    --primary-rgb-dark: var(--latvian-red-rgb);
    --background-dark: var(--darker-gray);
    --background-2-dark: var(--dark-gray);
    --color-dark: var(--white-2);

    --primary: var(--primary-light);
    --primary-rgb: var(--primary-rgb-light);
    --background: var(--background-light);
    --background-2: var(--background-2-light);
    --color: var(--color-light);
    
    --transparent: rgba(0, 0, 0, 0.2);

    &:has(#user-theme[active="dark"]) {
        --primary: var(--primary-dark);
        --primary-rgb: var(--primary-rgb-dark);
        --background: var(--background-dark);
        --background-2: var(--background-2-dark);
        --color: var(--color-dark);
    }

    @media (max-width: 650px) {
        --view-side-padding: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: var(--font-family);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, 0.5);
    border-radius: 15px;
}

body {
    background: var(--background);
}