@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --font-size: 14px;
    --text-color: #eee;
    --navbar-height: 3rem;
    --footer-height: 4rem;
    --background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 15px;
}

body {
    background: var(--background-color);
}