@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --white: #fff;
    --white2: #eee;
    --light-gray: #aaa;
    --dark-gray: #222;
    --black: #000;
    --latvian-red: #A4343A;

    --font-family: 'Montserrat', sans-serif;
    --font-size: 14px;
    --header-height: 3rem;
    --footer-height: 0rem;
    --view-side-padding: 2rem;

    --text-color: var(--black);
    --background-color: var(--white);
    --highlight: #1677ff;
    --primary: var(--latvian-red);
    --transparent: #00000033;

    @media (max-width: 480px) {
        --view-side-padding: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 15px;
}

body {
    background: var(--background-color);

    .text-color {
        color: var(--text-color);
    }

    .background-color {
        background: var(--background-color);
    }

    .ant-anchor-link-title {
        color: var(--text-color) !important;

        &.ant-anchor-link-title-active {
            color: var(--highlight) !important;
        }
    }

    .ant-typography {
        font-family: var(--font-family);
        color: var(--text-color) !important;
    }
}